  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">

          <%= render '/users/users/user_info', user: @user %>

          <%= render '/users/users/show_opinion_post' %>

      </div>
      <div class="col-md-8 offset-md-1">

      <div class="row">

        <%= link_to user_opinion_index_users_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog">このユーザーのつぶやき一覧</i>
        <% end %>
      </div>

      <div class="row">
        <%= link_to user_review_index_users_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog">このユーザーの記事一覧</i>
        <% end %>
      </div>

       </div>
    </div>
  </div>