<div class="container mx-auto" style="width: 800px;">

　<h2 class="text-center mb-5">退会お手続き</h2>
    <h3 class="text-center mb-5">退会した場合、以下の9つのようになります。</h3>

    <h5 class="m-4">① 一部のページ以外画面遷移できない。<br>
                      できるのは、Top・About・新規登録・ログイン・投稿一覧・投稿詳細・投稿記事一覧・投稿記事詳細の8つのみとなる。</h5>
    <h5 class="m-4">② 投稿機能の使用不可。<br>
                      記事の投稿、コメントの投稿など、あらゆる投稿ができなくなる。</h5>
    <h5 class="m-4">③ ブックマーク機能の使用不可。いいねを押すことができなくなる。</h5>
    <h5 class="m-4">④ 検索機能の使用不可。</h5>
    <h5 class="m-4">⑤ 通報機能の使用不可。</h5>
    <h5 class="m-4">⑥ 退会した人の会員情報・投稿したものは全て非表示になり、管理者の都合に応じて削除される。</h5>
    <h5 class="m-4">⑦ その他、画面の一部非表示化（サイドバーの会員情報や各種リンクが表示されないなど）</h5>
    <h5 class="m-4">⑧ 再びサイトを利用する場合、別の名前で新規登録の手続きが必要となる。</h5>
    <h5 class="m-4">⑨ 新規登録後、かつて投稿した記事をもう一度投稿する場合、その会員のメールアドレスが退会時のものと同じでなくてはならない。異なる場合は削除される。</h5>

    <h3 class="text-center mt-5">この9つを守れる場合のみ退会してください。</h3>

   <h2 class="text-center mt-5 mb-5">本当に退会してよろしいですか？</h2>

  <%= link_to "退会する", users_user_withdraw_user_path(@user.id), method: :patch, data: { confirm: "本当に退会しますか？" }, class: 'btn btn-danger btn-block m-3' %>
  <%= link_to "退会しない", users_user_path(current_user.id), class: 'btn btn-warning btn-block m-3' %>

 </div>