<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">

      <%= render '/users/users/user_info', user: @user %>

      <%= render '/users/users/opinion_post_index' %>

    </div>

    <div class="col-md-8 offset-md-1">

    <h2>管理人からのお知らせ一覧</h2>

    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>投稿日</th>
        </tr>
      </thead>

    <% @contact.each do |contact| %>

      <tbody>
        <tr>
          <td><%= link_to contact.contact_title, users_contact_path(contact.id) %></td>
          <td><%= contact.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </tbody>

    <% end %>

    </table>

    </div>
  </div>
</div>