      <table class="table">
        <tbody>
          <tr>
            <td>
              <%#= image_tag @user.get_profile_image %><br>
              <%#= @user.name %>
           </td>
            <td><span><%= @contact.contact_title %></span></td>
            <td><span><%= @contact.contact_body %></span></td>

         </tr>
        </tbody>
      </table>