  <div class="mx-auto" style="width: 1200px;">

      <h2>通達一覧</h2>

  <table class="table">
    <thead>
      <tr>
        <th>通達</th>
        <th>投稿日</th>
      </tr>
    </thead>

  <% @contacts.each do |contact| %>

    <tbody>
      <tr>
        <td><%= link_to contact.contact_title, admins_contact_path(contact.id) %></td>
        <td><%= contact.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </tbody>

  <% end %>

  </table>

  </div>
