<h1>レビュー記事編集画面</h1>

<%= form_with model: @contact, url: admins_contact_path(@contact.id), method: :patch do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :contact_title %>

  <h4>本文</h4>
  <%= f.text_area :contact_body %>

  <%= f.submit '保存' %>

<% end %>