<div class="mx-auto mt-4" style="width: 1000px;">

  <h1 class="mb-5">あなブク（あなたもブックレビューしてみませんか？）</h1>

    <h4 class="m-4">自分には好きな作品がある。漫画や小説、絵本など。</h4>
    <h4 class="m-4">好きな作品のレビュー記事を書いてみんなに見てもらいたい。</h4>
    <h4 class="m-4">でもそのためにブログ作るのは大変だし、既存のSNSに長文載せるのは抵抗がある・・・</h4>
    <h4 class="m-4">そんなあなたにこそ、【あなブク】があります！</h4>
    <h4 class="m-4">SNSでありながら、記事を投稿できる場所が他にあり、長文でもなんでも好きなだけ書いてください！</h4>
    <h4 class="m-4">自分のやりたいように書いて構いません！つぶやきの場で宣伝することも可能！</h4>
    <h4 class="m-4">あなたも【あなブク】でレビュアーになってみませんか？</h4>

</div>