
<div class="container px-5 px-sm-0">

  <%= render 'layouts/errors', obj: @opinion %>

    <div class="row">
      <div class="col-md-3">

<%= render '/users/users/info' %>

<%= render '/users/users/opinion_post' %>

 </div>

  <div class="col-md-8 offset-md-1">

<%= render '/users/users/show_opinions', opinions: @opinions %>

  </div>

  </div>

  </div>