<div class="mx-auto" style="width: 680px;">

  <% if @user == current_user %>

      <% if @users.exists? %>
         <h2 class="text-center mb-5">あなたをフォローしている会員です。</h2>
         <h3>フォロワー一覧</h3>
         <%= render '/users/users/users_follow_index', users: @users %>
      <% else %>
         <h2 class="ml-5">あなたは、まだフォローされていません。</h2>
      <% end %>

  <% else %>

      <% if @users.exists? %>
         <h2 class="text-center mb-5"><%= @user.name %> さんをフォローしている会員です。</h2>
         <h3>フォロワー一覧</h3>
         <%= render '/users/users/users_follow_index', users: @users %>
      <% else %>
         <h2 class="ml-5"><%= @user.name %> さんは、まだフォローされていません。</h2>
      <% end %>

  <% end %>

</div>